<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="platform:/plugin/de.peldszus.consistency.tgg.gen.tests/Installed.ecore"
            uri="http://www.example.org/installed">
      </resource>
   </extension>

</plugin>
